---
interface Props {
    id: string,
    placeholder?: string,
    descriptor?: string,
    width?: string,
    fontsize?: number
}
const {id, placeholder = "Enter text here...", descriptor = "Form Element", width, fontsize = 1} = Astro.props;
const remFont = fontsize + "rem";
---
<label for={id} class="text">{descriptor}</label>
<input id={id} name={id} placeholder={placeholder} class="text">
</input>

<style define:vars={{remFont, width}}>
    input {
        padding: .5rem 1rem;
        width: var(--width);
        margin: .5rem 0;
        border: none;
        border-bottom: 4px solid var(--accent-red);
        border-radius: .25rem .25rem 0 0;
        background-color: var(--subtle-bg);
        font-size: var(--remFont);
        box-shadow: 0 2px 2px 0 var(--colored-bg);
        transition: all 0.3s;
    }
    input:hover {
        background-color: var(--far-bg);
    }
    input:focus {
        background-color: var(--fg-colored);
        outline: none;
    }
    input:focus::placeholder {
            color: var(--text);
            opacity: 80%;
    }
</style>